<% @items.first(10).each do |item| %>
<ul class="list-group">
 <li class="list-group-item"><%= image_tag (item['smallImageUrls'][0]) %></li>
 <li class="list-group-item"><%= link_to item.name, "#{item.url}" %></li>
 <li class="list-group-item">価格：<%= number_with_delimiter(item.price) %>円</li>
</ul>
<% end %>